.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
}

.item {
  position: relative;
  max-width: 300px;
  border: 1px solid black;
  padding: 5px 5px 20px 5px;
  margin: 5px;
  box-sizing: border-box;
}

.item--active {
  color: white;
  background-color: #695c5c;
  border-color: transparent;
}

.title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.switcher {
  position: absolute;
  bottom: 5px;
}
